@import 'reset.css';
@import 'theme.css';
@import '_sizes.less';
@import '_theme.less';

body {
  color: @body-color;
  background-color: @body-background-color;
  overflow: hidden;
}


.tit{
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1em;
  font-weight: bold;
}
.loader{
  position: absolute;
  top: 0;left: 0;right: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  .transition(opacity .3s ease .1s); 

  .loader-bg{
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    opacity: .6;
  }
  .fa{
    position: absolute;
    top: 50%;left: 50%;
    font-size: 20px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: -15px 0 0 -15px;
  }
  &.show{
    height: auto;
    bottom: 0;
    opacity: 1;
  }
}



.side-section,
.list-section,
.content-section{
  position: fixed;
}

.brand{
  padding-left: @side-section-padding-left;
  padding-right: @side-section-padding-right;
  color:#EEE;
  height: 80px;
}

.side-section{
  top:@top-section-height;
  left:0;bottom: 0;
  width: @side-section-width;
  overflow-x: hidden;
  overflow-y: auto;

  background-color:@side-section-background-color;
  color:@side-section-color;

  #tag-list{
    position: relative;
    .loader{
      .loader-bg{
        background-color:@side-section-background-color;
        color:@side-section-color;
      }
    }
  }
  
  .tit{
    padding-left: @side-section-padding-left;
    padding-right: @side-section-padding-right;
    color: @body-tit-color;
    line-height: @tag-list-li-height;

    .add-tag-top{
      display: block;
      line-height: @tag-list-li-height;
      cursor: pointer;
    }
  }
  
  .tag-list{

    margin-bottom: 25px;
    .tag-li-element{
      position: relative;
      height: @tag-list-li-height;
      line-height: @tag-list-li-height;      
      cursor: pointer;
      .transition(background-color .1s);   

      .tag-section{
        position: absolute;
        top: 0;bottom: 0;
        left: @side-section-padding-left;
        right: @side-section-padding-right;

        .tag-color-btn{
          position: absolute;
          top: 0;left: 0;
          width:@tag-list-li-btn-width;
          .circle-sample{
            font-size: 9px;
            position: relative;
            top: -2px;
          }

          .tag-color-selector{
            display: none;
            position: absolute;
            bottom: 100%;
            left: 5px - @side-section-padding-left;
            width: @side-section-width - 30px;
            background-color: @body-alt-background-color;
            color: @body-alt-color;
            padding: 5px;
            box-shadow:@tag-color-selector-box-shadow;
            line-height: 12px;
            margin-bottom: -6px;



            .triang{
              position: absolute;
              left:11px;
              bottom:-16px;
              width: 0;height: 0;
              display: block;
              border-style: solid;
              border-width: 8px;
              border-color: @body-alt-background-color transparent transparent;
            }
            .tag-color-selector-cuad{
              padding-top: 5px;
              li{
                display: inline-block;
                width: 12px;
                height:12px;
                border-radius: 2px;
                margin:0 4px 4px 0;

                &.current{
                  box-shadow: 0 0 0 2px rgba(0,0,0,.9);
                }
              }              
            }
          }
          &:hover{
            .tag-color-selector{
              display: block;
            }
          }

        }
        .tag-title{
          position: absolute;
          top: 0;bottom: 0;
          left: @tag-list-li-btn-width + 5px;
          right: @tag-list-li-btn-width;
          overflow: hidden;
          .num{
            color:@body-alt-color;
            font-size: 11px;
          }
        }
        .tag-num,
        .tag-edit-btn{
          position: absolute;
          top: 0;right: 0;
          text-align: right;
          width:@tag-list-li-btn-width;
          color:@tag-list-li-fa-pencil-color;
          .transition(opacity .1s);     
        }
        .tag-num{          
          font-size: 10px;
        }
        .tag-edit-btn{
          opacity: 0;
          cursor: pointer;                 
        }
        /*****************/
        .input-title-edit{
          position: absolute;
          top: 0;bottom: 0;
          left: 0;
          right: @tag-list-li-btn-width + 8px;
          padding-top: 10px;
        }
        .tag-delete-btn{
          position: absolute;
          top: 0;right: 0;
          width:@tag-list-li-btn-width;
          text-align: right;
          color:@tag-list-li-delete-color;         
        }
        /**********************/
        .delete-warning{
          position: absolute;
          top: 0;bottom: 0;
          left: 0;
        }
        .tag-del-btn{
          float:right;
          margin-left: 10px;
          font-size: 12px;
          font-weight: bold;
          &.yes{
            color:@tag-list-li-delete-color;
          }
          &.no{
            color:@body-alt-color;
          }
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &:not(.current):hover{
        background-color: @tag-list-li-hover-background-color !important;
      }
      &:hover{
        .tag-num{
          opacity: 0;
        }
        .tag-edit-btn{
            opacity: 1;       
        }
      }
      &.current{
        cursor: default;
        box-shadow: 0 0px 4px rgba(0,0,0,.3);
        &,
        .tag-num,
        .tag-edit-btn,
        .tag-delete-btn,
        .tag-del-btn.yes,
        .tag-del-btn.no{
          color:#FFF;         
        }
      }
    }
    &.main-tag-list{
      .tag-li-element{
        &:hover{
          .tag-num{
            opacity: 1;
          }
        }
        &.current{
          cursor: default;
          box-shadow: 0 0px 4px rgba(0,0,0,.3);
          background-color: lighten(@side-section-background-color, 10%);
        }
      }
    }
  }
}

.add-in-list{
  .btn{
    font-size: 12px;
    line-height: 30px;
    padding: 0 20px;
    font-weight: normal;
    text-transform: uppercase;
    .fa{
      margin-right: 4px;
    }
  }
}







/* SNIPPET LIST ****************************/

.list-section{
  top:@top-section-height;
  left:@side-section-width;
  bottom: 0;
  width: @list-section-width;
  overflow-x: hidden;
  overflow-y: auto;
  .loader{
    .loader-bg{
      background-color:@body-background-color;
    }
  }
}

.snippet-list{
  padding-top: 15px;
  .snippet-li{
    padding: 0 @snippet-li-padding-side @snippet-li-padding-bottom;

    .snippet-li-body{
      padding: 8px;
      border:@border;
      cursor:pointer;

      .title{
        font-size: 14px;
        font-weight: bold;
        color:@body-color;
        margin-bottom: 3px;
      }
      .description{
        color:@body-alt-color;
        font-size: 10px;
      }
      -webkit-transition: background-color .1s, box-shadow .1s;
      -ms-transition: background-color .1s, box-shadow .1s;
      transition: background-color .1s, box-shadow .1s;
    }
    &:hover{
      .snippet-li-body{
        background-color: rgba(255,255,255,.5);
        box-shadow: 0 1px 2px rgba(0,0,0,.12);
        border-color: transparent;
      }
    }
    &.current{
      padding-right:0;
      padding-left: 0;
      .snippet-li-body{
        padding: 11px (@snippet-li-padding-side + 8px);
        background-color: @body-alt-background-color;
        box-shadow: 0 1px 2px rgba(0,0,0,.12);
        border-color: transparent;
        cursor: default;

        .title{
          font-size: 15px;
          margin-bottom: 5px;
        }
        .description{
          font-size: 11px;
        }
      }
    }
  }
}






////////////////////***********

.content-section{
  top:@top-section-height;
  left:@side-section-width + @list-section-width;
  right: 0;
  bottom: 0;
  background-color: @content-section-background-color;
  color:@content-section-color;
  overflow-x: hidden;
  overflow-y: auto;

  .content-body{    
    padding-top: 30px;
    padding-bottom: 30px;
  }
  header{
    @title-to-show-height:40px;
    .edit{
      vertical-align: middle;
      display: inline-block;
      padding: 0 6px;
      font-size: 12px;
    }
    .title{
      margin-bottom: 10px;
    }
    .title-content{
      .title-to-show{
        vertical-align: middle;
        display: inline-block;
        color: @body-color;
        font-size: 22px;
        font-weight: bold;
        line-height: @title-to-show-height;
      }
      .edit{
        line-height: @title-to-show-height;
      }
    }    
    .title-edit input{
      font-size: 22px;
      line-height: @title-to-show-height;
      padding-top: 0;
      padding-bottom: 0;
    }
    .description{
      margin-bottom: 20px;
    }
    .description-content{
      .description-to-show{
        vertical-align: middle;
      }
    }
    .description-edit textarea{
      font-size: 13px;
      line-height: 1.3em;
    }
  }
  .snippet-tags{
    margin-bottom: 20px;
    .snippet-tags-list{
      display: inline;
    }
    .stag,
    .stag-add{
      display: inline-block;
      font-size: 11px;
      line-height: 22px;
      padding: 0 10px;
      margin: 0 4px 8px 0;      
      border-radius: 3px;
    }
    .stag{      
      background-color: #CCC;
      color: #FFF;      
      .fa{
        cursor:pointer;
        margin-left: 5px;
      }      
    }
    .stag-add{
      position: relative;
      .fa{        
        margin-right: 3px;
      }
      .tag-add-selector{
        position: absolute;
        top: 100%;
        left: 50%;
        width: 180px;
        background-color: @body-alt-background-color;
        color: @body-alt-color;
        padding: 10px;
        box-shadow:@tag-add-selector-box-shadow;
        line-height: 12px;
        margin: 0 0 0 -90px;
        .triang{
          position: absolute;
          left:50%;
          top:-16px;
          margin-left:-8px;
          width: 0;height: 0;
          display: block;
          border-style: solid;
          border-width: 8px;
          border-color: transparent transparent @body-alt-background-color;
        }
      }
      
    }
  }


  .code-container{
    margin-bottom: 25px;

    .code-container-pre{
      border:@border-alt;      
      overflow: hidden;

      pre{
        min-height: 80px;
      }
    }
    .code-header{
      padding: 10px 0;
      .code-language{
        max-width: 100px;
        display: inline-block;
      }
      .action-code{
        display: inline-block;
        padding: 0 6px;
        line-height: 24px;
        vertical-align: middle;
        cursor: pointer;
        .fa{
          margin-right: 3px;
        }
        &.save{
          display: none;
          color:#D00;
        }
        &.or{
          display: none;
          cursor: default;
          color:#BBB;
          font-size: 11px;
          padding: 0;
        }
        &.cancel{
          display: none;
          color:#999;
        }
      }
    }
    &.editing{

      .code-container-pre{
        border-color:#D00;
      }



      .action-code.edit{
        display: none;
      }
      .action-code.save,
      .action-code.or,
      .action-code.cancel{
        display: inline-block;
      }
    }
    
  }



















}


/* form ******************/
label {
  font-size: 10px;
  line-height: 1.3em;
  display: block;
  padding: 0;
  margin: 0 0 4px;
  color: @body-alt-color;
}
label.required::before {
  content: '* ';
  color: #00aff3;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="file"],
input[type="number"],
input[type="color"],
input[type="search"],
input[type="url"],
textarea,
select {
  display: block;
  font-size: 11px;
  padding: 0.4em;
  line-height: 1em;
  outline: none;
  background-color: @body-alt-background-color;
  border: @border-alt;
  width: 100%;
  margin: 0;
  border-radius: 2px;
  color: @input-alt-color;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
input[type="color"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
  border-color: @border-alt-focus-color;
}
fieldset{
  display: block;
  padding: 0;
  margin: 0 0 10px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  background: url('../img/select-bg.png') right center no-repeat;
  padding-right: 20px;
  cursor: pointer;
}
.validationMessage{
  color: #D00;
  font-size: 10px;
  line-height: 1.1em;
  margin: 0;
}
input[type="text"].error,
input[type="tel"].error,
input[type="email"].error,
input[type="password"].error,
input[type="date"].error,
input[type="month"].error,
input[type="week"].error,
input[type="time"].error,
input[type="datetime"].error,
input[type="datetime-local"].error,
input[type="file"].error,
input[type="number"].error,
input[type="color"].error,
input[type="search"].error,
input[type="url"].error,
textarea.error,
select.error,
.error input[type="text"],
.error input[type="tel"],
.error input[type="email"],
.error input[type="password"],
.error input[type="date"],
.error input[type="month"],
.error input[type="week"],
.error input[type="time"],
.error input[type="datetime"],
.error input[type="datetime-local"],
.error input[type="file"],
.error input[type="number"],
.error input[type="color"],
.error input[type="search"],
.error input[type="url"],
.error textarea,
.error select {
  border-color: #D00;
}
.input-help {
  color: #999;
  font-size: 11px;
  margin: 0;
  padding-top: 0.2em;
}





.form-big{
  label {
    font-size: 14px;
    line-height: 1.3em;
    margin: 0 0 3px;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="file"],
  input[type="number"],
  input[type="color"],
  input[type="search"],
  input[type="url"],
  textarea,
  select {
    font-size: 14px;
    padding: 0.7em;
    line-height: 1em;
  }
  fieldset{
    margin: 0 0 15px;
  }
}

//////////////////////////////////////////////
.log-box{
  background-color: #FFF;
  padding: 30px;
  width: 400px;
  margin: 30px auto;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
#login-error{
  .validationMessage{
    font-size: 14px;
    line-height: 1.3em;
  }

}